# Python cache
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
build/
dist/
.ruff_cache/

# Virtual environments
venv/

# Editor and IDE
.vscode/
*.swp

# Git and GitHub
.git/
.github/
.gitignore

# Environment/config
.env
*.env

# Docker-related
docker-compose.yml
gunicorn.service
Procfile
nginx/

# Docs and tests
README.md
tests/

